@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
}
.attribution {
  font-size: 11px;
  margin: 2rem;
  text-align: center;
}

.attribution a {
  color: var(--Dark_blue);
}
body {
  align-items: center;
  background-color: var(--Light_gray);
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  min-height: calc(100vh);
}
.detail-container {
  padding: 10px;
}
.detail-container h4 {
  color: var(--Grayish_blue);
  font-weight: 400px;
  margin: 20px 10px;
}
.detail-container h2 {
  color: var(--Dark_blue);
  font-weight: 700px;
  margin-top: 20px;
}
.img-container img {
  border-radius: 1rem;
  width: 100%;
}
.main-container {
  background-color: var(--White);
  border-radius: 1.5rem;
  box-shadow: 2px 2px 30px 1px var(--Grayish_blue);
  padding: 1rem;
  text-align: center;
}
p {
  font-size: 15px;
}

@media screen and (min-width: 500px) {
  .main-container {
    max-width: 300px;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .main-container {
    max-width: 300px;
    padding: auto 30px;
  }
}
